In [1]:
import pandas as pd

## Download csv-file

In [2]:
df = pd.read_csv(
    '../../data/auto.csv',
    index_col='ID'
)

## Count the number of observations

In [5]:
observations = df.count()

print(observations)

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Drop the duplicates

In [3]:
df = df.drop_duplicates(
    subset=['CarNumber', 'Make_n_model', 'Fines'],
    keep='last'
)

In [9]:
observations = df.count()

print(observations)

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Work with missing values

In [15]:
missing_values = df.isna().sum()
print(missing_values)

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

In [16]:
df = df.dropna(axis=1, thresh=len(df)-500)

print(df.isna().sum())

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

In [4]:
df['Refund'] = df['Refund'].ffill()
print(df.isna().sum())

CarNumber         0
Make_n_model      0
Refund            0
Fines            60
History         660
dtype: int64

In [5]:
mean_fines = df['Fines'].mean()
df['Fines'] = df['Fines'].fillna(value=mean_fines)
print(df.isna().sum())

CarNumber         0
Make_n_model      0
Refund            0
Fines             0
History         660
dtype: int64

## Split and parse the Make_n_model

In [ ]:
def split_make_model(row):
    parts = row['Make_n_model'].split(' ', 1)
    return pd.Series({'Make' : parts[0], 'Model' : parts[1] if len(parts) > 1 else None})

df[['Make', 'Model']] = df.apply(split_make_model, axis=1)

       CarNumber  Make_n_model  Refund   Fines  History    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0      NaN    Ford  Focus

In [35]:
df.drop('Make_n_model', axis=1, inplace=True)

In [34]:
df.head()

       CarNumber  Make_n_model  Refund   Fines  History    Make  Model
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN    Ford  Focus
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN  Toyota  Camry
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN    Ford  Focus
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN    Ford  Focus
5   92918M178RUS    Ford Focus     1.0  5700.0      NaN    Ford  Focus

In [38]:
df.reset_index().to_json(
    'auto.json',
    orient='records',
    double_precision=4
)