In [3]:
import pandas as pd

# Exercise 0

## read_csv

In [20]:
df = pd.read_csv(
    '../../data/feed-views.log',
    skiprows=[2, 3],
    skipfooter=2,
    engine='python',
    header=None,
    names=['datetime', 'user'],
    sep='\t',
    index_col='datetime'
)

# df = df.set_index('datetime')

df.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [18]:
df.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## rename

In [24]:
df.index.names = ['date_time']

## to_csv

In [22]:
df.to_csv('feed-views-semicolon.log', sep=';')